body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#first{
    background-color: rgb(52, 52, 131);
    color: white;
    padding: 20px;
    padding-top: 20px;
}
#a:hover{
  background-color: rgb(78, 77, 77);
}
.firstly{
  text-align: center;
}